# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# test files
shapefiles/test/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Visual Studio project settings
*.pyproj
*.sln
*.suo
