shapefile_[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9].dbf
shapefile_[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9].shp
shapefile_[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9].shx
shapefiles/test/testfile.*
shapefiles/test/onlydbf.*
shapefiles/test/contextwriter.*
shapefiles/test/shapetype.*
shapefiles/test/dtype.*
shapefiles/test/null.*
shapefiles/test/point.*
shapefiles/test/line.*
shapefiles/test/linem
shapefiles/test/linez.*.*
shapefiles/test/multipoint.*
shapefiles/test/polygon.*
shapefiles/test/multipatch.*
shapefiles/test/copy.*
shapefiles/test/balancing.*
shapefiles/test/latin_as_utf8.*
shapefiles/test/corrupt_too_long.*
shapefiles/test/MyPolyZ.*
shapefiles/test/NullTest.*
shapefiles/test/geojson.*
__pycache__/
__cache__/
build/
dist/
*.egg-info/
*.py[cod]
.vscode
.dmypy.json
.python-version
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
