language: python

python:
  - '2.7'
  - '3.3'
  - '3.4'
  - '3.5'

install:
  - pip install .

script:
  - python shapefile.py

deploy:
  provider: pypi
  user: jlawhead
  password:
    secure: CI6igPEwYgPU0ZT4TfMsJ8D9HBfiGiEsPO01NHjx9kS1y6YdVedklnCGFn0J6qX7qHX/T995tS1OPU2izWVKkIIEOm9MbLzR4SSRqrHNOZAkXWClBkwIcoHEzQEnc5akRYBeisCqZtKn7w5EP1yquExHz+l2SKjwdS4HibA7wTA7g3tbX8oXIiFIANBy2vS18bmkxLCdV0lKdf8MU2TjavEghPL4vURyU31gMs5BaWHTsJH+2sLIzdBzYwkTeI+CKOmCr+jmLwHVMp0R43PfemSW5gK3BnLhrClfF4CU+Fu8Lypb6Glyo9kY6vsCf2d/5qzojx5j/1/rVeha7gJ35VodKnXZjgl+TwtUHiZL/MC/nqhPDx9ygtYZBjaVfgeWDAvqE0T+8KH1WhCwPDqFdjIuAmKqa5nJhWNueXNtmmDK9Bo0eUFgdHaThBbyPbRpqj5Pt9S82FIzOoWoxdy7Hv5D5xCmv4knjIcy9yDHj6KyTLDCHa4yH6aFJvYHj2Ml5nrLT/g08SyPl5kasZDnSIg1QI8A2GIJpjNbdqgCUwrpz+jZBGaAj/dq4UEfjNcjiaAQfBSdf2Suoz6z4oSLhXR9sC1+HgKG6OKHqt3hlq9hTUe8Tuj3DZ681eS00oXCPa5E5P4gDCoXUga9coZeGPOhbPBVIAQnxNRVaj6fqqU=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: GeospatialPython/pyshp
